In [1]:
import pandas as pd
import numpy as np

In [58]:
# Read csv file into dataframe
df = pd.read_csv("new_comment_col.csv")

In [59]:
# Display first five rows 
df.head()

                                     New_comment_col
0                          Taste super delicious too
1                                                Wow
2  The non-sticky texture of Golden Penny Macaron...
3                                     Very delicious
4           After eating Macaroni I sleep very well.

In [60]:
# Display number of rows and columns
df.shape

(1897, 1)

In [61]:
# Display data frame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New_comment_col  1767 non-null   object
dtypes: object(1)
memory usage: 14.9+ KB

In [62]:
# Display number of empty rows 
df.isna().sum()

New_comment_col    130
dtype: int64

In [63]:
# Drop empty rows 
clean_data = df.dropna()

In [68]:
# check new dataframe information 
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1767 entries, 0 to 1819
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New_comment_col  1767 non-null   object
dtypes: object(1)
memory usage: 27.6+ KB

In [69]:
# Display first 50 rows 
clean_data.head(50)

                                      New_comment_col
0                           Taste super delicious too
1                                                 Wow
2   The non-sticky texture of Golden Penny Macaron...
3                                      Very delicious
4            After eating Macaroni I sleep very well.
5                                  Non sticky texture
6                                      This delicious
7                                          Delicious!
8                  That's my favorites than spaghetti
9                                         My favorite
10                                             Lovely
11                       Bring it to our local market
12                                    Need more pasta
13                                        My favorite
14                Pls  how is cous cous been prepared
15         I love yummy yummy dishes pizza paa kilode
16                  Yummy love this method of cooking
17                                    Nice one anyway
18                                              Yummy
19                 I can't find it in market any more
20                                              Yummy
21                                       Easy to cock
22                                              yummy
23                 Yes I love golden penny spaghetti
24                                               Like
25                                         Best pasta
26                 Golden Penny Spaghetti is the best
27                          Yes my dear you are right
28  Golden Penny is the best pasta ,it doesn't clo...
29                                         Delicious!
30  Am imagining it already and it's really delicious
31                      I love golden penny spaghetti
32                                             Yes so
33                                          I have oo
34                           Yes so with golden penny
35                                     The best pasta
36                                    The best of all
37                                   Yeah my favorite
38                                   Can't get enough
39                                                Yes
40          Golden penny bringing out delicious taste
41                   The only spaghetti wey get vibe.
42                     Hw much is the price per caton
43                                       Golden penny
44                 Golden penny my favorite among all
45                              Music Chef Loves This
46                                          Delicious
47                                              Yummy
48       Honestly, I'm drooling just looking at this!
49                     After you na' you golden penny

In [70]:
# Drop rows that contain '.png' anywhere in the row
df1 = clean_data[~clean_data.astype(str).apply(lambda x: x.str.contains('.png', na=False)).any(axis=1)]

In [71]:
# Check the number of rows and columns after dropping rows with '.png'
df1.shape

(1740, 1)

In [90]:
# Drop duplicate rows and rows with irrelevant comments
df2 = df1[~df1.astype(str).apply(lambda x: x.str.contains('j266r', na=False)).any(axis=1)].drop_duplicates()

In [96]:
# Display number of unique rows
df2.nunique().sum()

1294

In [97]:
# Save new dataframe as csv file
df2.to_csv("cleaned_gp_comment2.csv", index=False)

In [48]:
# Drop columns that contain '.png' anywhere in their values
df = clean_data.loc[:, ~df.apply(lambda col: col.astype(str).str.contains('.png').any())]

In [49]:
df.shape

(1767, 0)

In [50]:
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [35]:
# Filter rows where any column contains '.png'
rows_with_png = df[df.astype(str).apply(lambda x: x.str.contains('.png')).any(axis=1)]

print(rows_with_png)

In [38]:
df.head(50)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [36]:
# Save the cleaned file if needed
df.to_csv("cleaned_file.csv", index=False)